<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySuperTrello</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/lists.css">
    <link rel="stylesheet" href="../static/css/cards.css">
</head>
<body>
<header>
    <h1>MySuperTrello</h1>
    <h2>only the most necessary</h2>
</header>
<div class="content">
    {% for list in lists %}
        <div class="list-tasks">
            <div class="wrapper">
                <h3>{{ list.name }}</h3>
                {% for card_text in list.list %}
                    <div class="card">
                        {{ card_text }}
                    </div>
                {% endfor %}
            </div>
            <div class="add-cards">Добавить ещё одну карточку</div>
        </div>
    {% endfor %}

</div>
</body>
</html>